<section data-ng-controller="HomeController">
    <div class="row">

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <h1>
                        <button type="button" class="btn btn-success">
                            <i class="glyphicon glyphicon-user"></i>
                        </button>
                    </h1>
                </div>
                <div class="col-xs-10">
                    <h1>20,408</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <span class="text-muted">TOTAL CUSTOMERS</span>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <h1>
                        <button type="button" class="btn btn-primary">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </h1>
                </div>
                <div class="col-xs-10">
                   <h1>8,382</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <span class="text-muted">UPCOMING EVENTS</span>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <h1>
                        <button type="button" class="btn btn-success">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                    </h1>
                </div>
                <div class="col-xs-10">
                    <h1>527</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <span class="text-muted">NEW CUSTOMERS IN 24H</span>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <h1>
                        <button type="button" class="btn btn-info">
                            <i class="glyphicon glyphicon-record"></i>
                        </button>
                    </h1>
                </div>
                <div class="col-xs-10">
                    <h1>85,000</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    <span class="text-muted">EMAILS SENT</span>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <h1>
                        <button type="button" class="btn btn-warning">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                    </h1>
                </div>
                <div class="col-xs-10">
                    <h1>268</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                   <span class="text-muted">FOLLOW UP REQUIRED</span>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <h1>
                        <button type="button" class="btn btn-danger">
                            <i class="glyphicon glyphicon-flag"></i>
                        </button>
                    </h1>
                </div>
                <div class="col-xs-10">
                    <h1>348</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                   <span class="text-muted">REFERRALS TO MODERATE</span>
                </div>
            </div>
        </div>
    </div>

</section>
