<section data-ng-controller="HomeController">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    ICON
                </div>
                <div class="col-xs-10">
                    20,408
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    TOTAL CUSTOMERS
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    ICON
                </div>
                <div class="col-xs-10">
                    8,382
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    UPCOMING EVENTS
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    ICON
                </div>
                <div class="col-xs-10">
                    527
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    NEW CUSTOMERS IN 24H
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    ICON
                </div>
                <div class="col-xs-10">
                    85,000
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    EMAILS SENT
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    ICON
                </div>
                <div class="col-xs-10">
                    268
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    FOLLOW UP REQUIRED
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    ICON
                </div>
                <div class="col-xs-10">
                    348
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    REFERRALS TO MODERATE
                </div>
            </div>
        </div>
    </div>

</section>
