@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.login-form-bg, .signup-form-bg {
  background-color: white;
  border: 15px solid;
  border-radius: 15px;
  border-color: white;
  margin-top: 50px
}
